<div class="splitcontentleft">
  <%= textilizable Setting.welcome_text %>
  <% if @news.any? %>
  <div class="news box">
  <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <%= link_to l(:label_news_view_all), :controller => 'news' %>
  </div>
  <% end %>
  <%= call_hook(:view_welcome_index_left, :projects => @projects) %>
</div>

<%if User.current.name == 'Anonym' || User.current.name == 'Anonymous' %>
<% content_for :sidebar_right do %>
	<div id="login">
		<div class="inner">
			<% form_tag({:controller => 'account',:action=> "login"}) do %>
				<h2>Anmeldung</h2>
				<%= back_url_hidden_field_tag %>
				<%= text_field_tag 'username', nil, :tabindex => '1', :placeholder => l(:field_login) %><br />
				<%= password_field_tag 'password', nil, :tabindex => '2', :placeholder => l(:field_password) %>
				<div class="submit_container">
			        <input class="submit" type="submit" name="login" value="<%=l(:button_login)%>" tabindex="5"/>
				</div>

	        <% if Setting.lost_password? %>
	        	<div class="forgotpw">
	            <%= link_to l(:label_password_lost), :controller => 'account', :action => 'lost_password' %>
	            </div>
	        <% end %>
			<%= javascript_tag "Form.Element.focus('username');" %>
			<% end %>
		</div>
	</div>
	
	<div id="registration">
		<div class="inner">
			<h2>Kostenlos Registrieren</h2>
			<% labelled_form_for(@user, :url => {:controller => 'account', :action => 'register'}) do |f|%>
				<%= error_messages_for 'user' %>
				
				<div class="box tabular">
					<%# if @user.auth_source_id.nil? %>
					  	<%= f.text_field :login, :size => 25, :required => true %><br />
					<%# end %>
					<%= f.text_field :firstname, :required => true %><br />
					<%= f.text_field :lastname, :required => true %><br />
					<!--
					<p><%= f.text_field :mail, :required => true %></p>
					<p><%= f.select :language, lang_options_for_select %></p>
					  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>
					-->
					  
					<%= f.password_field :password, :size => 25, :required => true %><br />
					<%= f.password_field :password_confirmation, :size => 25, :required => true %>
					
					<!--
					<%# if Setting.openid? %>
					  <p><%#= f.text_field :identity_url  %></p>
					<%# end %>
					
					<%# @user.custom_field_values.select {|v| v.editable? || v.required?}.each do |value| %>
					  <p><%#= custom_field_tag_with_label :user, value %></p>
					<%# end %>
					-->
					
				</div>
				<%= submit_tag "Registrieren" %>
				<div class="clear"></div>
			<% end %>
		</div>
	</div>
<%end%>

<article class="article">
	<div class="inside">
		<h1>Das Forschungsnetzwerk Sachsen</h1>
		<div class="column">
		<p><br /><img style="float: right;" title="images/home_landkarte.png" src="images/home_landkarte.png" alt="/images/home_landkarte.png" width="367" height="286" />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
</article>

<%end%>

<div class="splitcontentright">
    <% if @projects.any? %>
  <div class="projects box">
  <h3><%=l(:label_project_latest)%></h3>
    <ul>
    <% for project in @projects %>
      <% @project = project %>
      <li>
      <%= link_to_project project %> (<%= format_time(project.created_on) %>)
      <%= textilizable project.short_description, :project => project %>
      </li>
    <% end %>
    <% @project = nil %>
    </ul>
  </div>
  <% end %>
    <%= call_hook(:view_welcome_index_right, :projects => @projects) %>
</div>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'scm' %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
