<h1>New user_message</h1>

<% form_for(@user_message) do |f| %>
  <%#= f.error_messages %>

  <p>
    <%= f.label :receiver %><br />
    <%= f.text_field :receiver %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', user_messages_path %>