<h1><%= l(:label_user_messages_new) %></h1>

<% form_for(@user_message) do |f| %>
  <%#= f.error_messages %>

  <p>
    <%= f.label l(:label_user_messages_receiver) %><br />
    <%= f.text_field :receiver %>
  </p>
  <p>
    <%= f.label l(:label_user_messages_subject) %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label l(:label_user_messages_body) %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit l(:label_user_messages_send) %>
  </p>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'user_message' %>
<% end %>

<% content_for :sidebar_right do %>
  	<li><%= link_to l(:label_back), user_messages_path %></li>
<%end%>