<h1><%= l(:label_user_messages_from)+" #{@user_message.author}" %></h1>

<div id="show_user_message">
  <span class="subject"><%=h @user_message.subject %></span>
  
  <p>
    <%=h @user_message.body %>
  </p>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'user_message' %>
<% end %>

<% content_for :sidebar_right do %>
  	<li><%= link_to(l(:label_back), user_messages_path) %></li>
<%end%>