<table class="cal" width="100%">
<thead>
<tr><th scope="col" title="<%= l(:label_week) %>" class="week-number"></th><% 7.times do |i| %><th scope="col"><%= day_name( (calendar.first_wday+i)%7 ) %></th><% end %></tr>
</thead>
<tbody>
<tr>
<% day = calendar.startdt
while day <= calendar.enddt %>
<%= ("<td  valign='top' class='week-number' title='#{ l(:label_week) }'><p>#{(day+(11-day.cwday)%7).cweek}</p></td>".html_safe) if day.cwday == calendar.first_wday %>
<td class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if Date.today == day %>" valign="top">
<p class="day-num"><%= day.day %></p>
<% calendar.events_on(day).each do |i| %>
  <p class="show" id="show_<%= i.id%>">
    <%= h("#{i.project}") %>
    <%= link_to_issue i, :truncate => 30 %>
  </p>
  <div class="infobox" id="info_<%= i.id%>">
    <% if i.is_a? Issue %>
    <div class="<%= i.css_classes %> <%= 'starting' if day == i.start_date %> <%= 'ending' if day == i.due_date %> tooltip">
    <span class="tip"><%= render_issue_tooltip i %></span>
    </div>
    <% else %>
    <span class="icon icon-package">
      <%= h("#{i.project} -") unless @project && @project == i.project %>
      <%= link_to_version i%>
    </span>
    <% end %>
  </div>
<% end %>
</td>
<%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
<% day = day + 1
end %>
</tr>
</tbody>
</table>
