<% content_for :sidebar_right do %>
<% end %>

<h2><%=l(:label_my_members)%></h2>
<%= error_messages_for 'user' %>

<% @projects.each do |project| %>
  <b><%= project.name %></b><br>
  <%= project.users_by_role %><br>
<% end %>

<% html_title(l(:label_my_account)) -%>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'profile' %>
<% end %>