<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><%=h html_title %></title>
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<%= csrf_meta_tag %>
<%= favicon %>
<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= javascript_heads %>
<%= heads_for_theme %>
<!--[if IE 6]>
    <style type="text/css">
      * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
      body {behavior: url(<%= stylesheet_path "csshover.htc" %>);}
    </style>
<![endif]-->
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
</head>
<body class="<%=h body_css_classes %>">
<div id="wrapper">
<!--
<div id="top-menu">
    <div id="account">
        <%#= render_menu :account_menu -%>
    </div>
    <%#= content_tag(
           'div',
           "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe,
           :id => 'loggedas') if User.current.logged? %>
    <%#= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
</div>
-->

<header id="header">
	<div class="bar"></div>
    <% if User.current.logged? || !Setting.login_required? %>
        <!--
    <div id="quick-search">
        <%# form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
        <%#= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
        <label for='q'>
          <%#= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>:
        </label>

        <%#= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
        <%# end %>
        <%#= render_project_jump_box %>
    </div>
    <h1><%#= page_header_title %></h1>
        -->
    <% end %>
	<div id="header_bg_bar"></div>
	<div class="inside">
		<a href="http://localhost/htwk/"><div id="logo"></div></a>
		<div class="clear"></div>
	</div>	
	<% if display_main_menu?(@project) %>
	<div id="navigation">
	    <%= render_main_menu(@project) %>
	</div>
	<% end %>

</header>

<%= tag('div', {:id => 'container', :class => ((has_content?(:sidebar_left) || has_content?(:sidebar_right)) ? '' : 'nosidebar')}, true) %>
	<div class="container_inner container_16">
	    <aside id="left" class="<%= has_content?(:sidebar_left) ? 'grid_3' : 'grid_2' %>">
	        <%= yield :sidebar_left %>
	        <%= call_hook :view_layouts_base_sidebar %>
	    </aside>
	    <div id="main" class="<%= has_content?(:sidebar_left) ? 'grid_12' : 'grid_11' %>">
	        <%= render_flash_messages %>
	        <%= yield %>
	        <%= call_hook :view_layouts_base_content %>
	        <div style="clear:both;"></div>
	    </div>
	    <aside id="right">
	        <%= yield :sidebar_right %>
	        <%#= call_hook :view_layouts_base_sidebar %>
	    </aside>
	</div>
</div>

<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
<div id="ajax-modal" style="display:none;"></div>

<div id="footer">
  <div class="copyright">@ 2012 eScience</div>
  <div class="kontakt"></div>
  <div class="Nutzungsbedingungen"></div>
  <div class="Datenschutz"></div>
  <div class="impressum"></div>
</div>

</div>
<%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>
